.card-block img.card-img {
  top: 50%;
  margin-top: -36px;
  width: 72px;
  border: 3px solid #FFF;
  border-radius: 0.4rem;
  float: left;
  position: relative;
  z-index: 99;
}

.card-text:
.card-block .card-title {
  float: left;
  margin: 0;
  margin-left: 0.5em;
}
.card-block .card-title small {
  display: block;
}
.card-block .card-text {
  clear: both;
  padding-top: 0.25em;
  margin-bottom: 1.5em;
}

.card-block ul a:hover {
  text-decoration: none;
}

.card-block ul .profile-stats {
  color: #777;
  display: block;
  text-transform: uppercase;
  font-size: 0.63em;
}

.card-block ul .profile-value {
  color: #000;
  font-size: 1.2em;
  font-weight: bold;
  color: #2F92CA;
}


.ng-enter{
  -webkit-transition: all 2s linear;
  -moz-transition: all 2s linear;
  -ms-transition: all 2s linear;
  -o-transition: all 2s linear;
  transition: all 2s linear;
  opacity: 0;
}

.ng-enter-active {
  opacity: 1;
}


.ng-leave {
  -webkit-transition: all 2s linear;
  -moz-transition: all 2s linear;
  -ms-transition: all 2s linear;
  -o-transition: all 2s linear;
  transition: all 2s linear;
  opacity: 1;
}

.ng-leave-active {
  opacity: 0;
}


.ng-hide-add {
  -webkit-transition: all 2s linear;
  -moz-transition: all 2s linear;
  -ms-transition: all 2s linear;
  -o-transition: all 2s linear;
  transition: all 2s linear;
  opacity: 1;
}

.ng-hide-add-active {
  display: block !important;
  opacity: 0;
}

.selected {
  -webkit-transition: all 2s linear;
  -moz-transition: all 2s linear;
  -ms-transition: all 2s linear;
  -o-transition: all 2s linear;
  transition: all 2s linear;
  background-color: #FAFAD2 !important;
}

.selected-add-class {
  opacity: 0;
}

.selected-add-class-active {
  opacity: 1;
}
